<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>${department.title}</title>
<link rel="stylesheet" th:href="@{/web/css/home.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap-grid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <!-- navigation -->
    <nav id="navigation" class="menu-nav navbar navbar-expand-lg bg-primary w-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img class="logo rounded img-fluid" src="img/thiet-ke-logo-nganh-du-lich-dich-vu-bee-art-07.jpg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsible-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsible-navbar">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <ul class="navbar-nav nav col-5 d-flex justify-content-around">
                        <li class="nav-item"><a class="nav-link text-light" href="">Cho Thuê Chỗ Ở</a></li>
                        <li class="nav-zitem"><a class="nav-link text-light" href="">Hỗ Trợ</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="">Cẩm Nang Du Lịch</a></li>
                    </ul>
                    <div class="col-md-4 text-center text-light" th:if="${session.USERMODEL != null}">
                    	Welcome, <span style="color:rgb(215,215,215)" th:text="${session.USERMODEL.getFullname}" ></span> | <a class="text-light" th:href="@{logout}" style="text-decoration: none;">Thoát</a>
                    </div>
                    <div class="col-md-2 text-center" th:if="${session.USERMODEL == null}">
                    	<a class="text-light" th:href="@{login}" data-toggle="popover" data-placement="bottom" style="text-decoration: none;" data-content=""><i class="fa fa-user-circle px-2" aria-hidden="true"></i> Tài Khoản</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="space"></div>

    <!-- section -->

    <div id="section" class="my-3 px-5">
        <h2 class="w-100" style="font-weight:500"><i class="fa fa-home"></i> Biệt thự hướng núi 3 phòng ngủ</h2>
        <span><i class="fa fa-star"></i> 4,87</span> . 
        <span><i class="fa fa-medal"></i> Chủ nhà siêu cấp</span> . 
        <span><i class="fa fa-map-marked"></i> Đà Lạt - Việt Nam</span>
        <div class="product">
            <div class="product-thumbnail row">
                <img src="img/da-lat.PNG" class="my-2 col-md-6" style="border-radius: 50px;"/>
                <div class="product-thumbnail-plus h-100 col-md-6">
                    <img src="img/da-lat.PNG" class="my-2" style="width:calc(50% - 5px);border-radius: 20px"/>
                    <img src="img/da-lat.PNG" class="my-2" style="width:calc(50% - 5px);border-radius: 20px"/>
                    <img src="img/da-lat.PNG" class="my-2" style="width:calc(50% - 5px);border-radius: 20px"/>
                    <img src="img/da-lat.PNG" class="my-2" style="width:calc(50% - 5px);border-radius: 20px"/>
                </div>
            </div>
            <div class="product-info row my-5">
                <div class="col-md-6">
                    <h3 class="mb-3">Nơi này có những gì cho bạn</h3>
                    <div id="product-provide">
                        <h5><i class="fa fa-utensils"></i> Bếp</h5>
                        <h5><i class="fas fa-wifi"></i> Wifi</h5>
                        <h5><i class="fas fa-tv"></i> Tivi</h5>
                        <h5><i class="fas fa-car"></i> Chỗ để xe miễn phí tại nơi ở</h5>
                        <h5><i class="fa fa-snowflake"></i> Điều hoà nhiệt độ</h5>
                        <h5><i class="fas fa-tint"></i> Nước nóng</h5>
                    </div>
                </div>
                <form id="formSubmit" class="col-md-6 d-flex justify-content-center">
                    <div class="d-flex justify-content-center" style="background-color:rgb(231, 231, 231);width:450px;border-radius: 20px;border: green 1px solid;">
                        <div class="my-2">
                            <div class="form-group d-flex justify-content-between" >
                                <b>Giá tiền:</b>
                                <span><b>$220</b> / đêm</span>
                            </div>
                            <div class="form-group d-flex justify-content-between" >
                                <b>Nhận phòng:</b>
                                <input id="checkin" placeholder="01/01/2000"/>
                            </div>
                            <div class="form-group d-flex justify-content-between" >
                                <b>Trả phòng:</b>
                                <input id="checkout" placeholder="01/01/2000"/>
                            </div>
                            <div class="form-group d-flex justify-content-between" >
                                <b>Người lớn:</b>
                                <div>
                                    <input style="width:60px" type="number" id="checkout" value="1"/>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between" >
                                <b>Trẻ em:</b>
                                <div>
                                    <input style="width:60px" type="number" id="checkout" value="0"/>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-center py-2" >
                                <button class="w-75 btn btn-outline-success py-3">Đặt phòng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <div id="footer" class="bg-dark text-light">
        <div class="footer-content d-flex justify-content-evenly">
            <div class="footer-column-info col-lg-3">
                <b>CHĂM SÓC KHÁCH HÀNG</b>
                <p style="margin-top: 20px">Liên hệ hỗ trợ</p> 
                <p>Hệ thống cửa hàng</p> 
                <p>Tin tuyển dụng</p> 
            </div>
            <div class="footer-column-info col-lg-3">
                <b>HỖ TRỢ KHÁCH HÀNG</b>
                <p style="margin-top: 20px">Chính sách bảo mật</p>
                <p>Hướng dẫn đặt phòng</p>
                <p>Phương thức thanh toán</p>
                <p>Phương thức vận chuyển</p>
                <p>Quy chế hoạt động</p>
                <p>Câu hỏi thường gặp</p>
            </div>
            <div class="footer-column-info col-lg-4">
                <b>PHƯƠNG THỨC THANH TOÁN</b>
                <img class="my-2" src="img/payment.jpeg" alt=""><br>
                <b>CẦN TRỢ GIÚP HÃY GỌI NGAY</b><br>
                <div class="contact d-flex justify-content-start align-items-center" style="color:orange">
                    <i class="fas fa-phone-alt"></i>
                    <h2>1900 4108</h2>
                </div>
                <b>ĐẶT PHÒNG DỄ DÀNG HƠN QUA ỨNG DỤNG</b>
                <div class="download" style="color:orange">
                    <img src="img/tai-appstore.png" alt="">
                    <img src="img/tai-google-play.png" alt="">
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="mx-5">
                <p>© 2023 GO GLOBAL</p>
            </div>
            <div class="mx-5 d-flex justify-content-around" style="width:100px">
                <p>visit us</p>
                <a href="https://www.facebook.com/yuire10602"><i class="fab fa-facebook-square text-secondary" style="font-size: 20px"></i></a>
                <a href="https://www.instagram.com/_mnyuire_/"><i class="fab fa-instagram text-secondary" style="font-size: 20px"></i></a>
            </div>
        </div>
    </div>
</body>
</html>